<?xml version="1.0" encoding="utf-8"?>

<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="de.viktorreiser.androidtoolbox.showcase"
      android:versionCode="1"
      android:versionName="1.0">
      
    <uses-sdk android:minSdkVersion="4" />

    <application android:icon="@drawable/icon" android:label="Android Toolbox Showcase">
    
        <activity android:name=".AndroidToolboxShowcaseActivity"
                  android:label="Android Toolbox Showcase">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
        <activity android:name=".swipablelistquickaction.SwipeableListQuickActionActivity" />
        <activity android:name=".statustextdrawable.StatusTextDrawableActivity" />
        <activity android:name=".bubbledrawable.BubbleDrawableActivity" />

    </application>
    
</manifest>